@page "/CalendarPage"
@model ADOPSE_2023.Models.UserController;

@{
    Layout = "~/Views/Shared/_CalendarFiltersLayout.cshtml";

}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>


</body>


</html>
