@page "/TeacherInfo";
@model ADOPSE_2023.Models.UserController;
@{
    //ViewData["Title"] = "e";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/TeacherInfo.css" asp-append-version="true" />
</head>
<body>
    <div class="kathigName">Σαλαμπάσης </div>
   
    <span id="tmimaTag">Τμήμα:</span> 
    <p class="actualTmima">Τμήμα Πληροφορικής</p>
    <div id="perifragiTag">Περιγραφή:</div>
    <p class="actualPerigrafi">
        Ο Μιχάλης Σαλαμπάσης έχει πτυχίο πληροφορικής και διδακτορικό στην Πληροφορική. 
        Βασικά ερευνητικά του ενδιαφέροντα είναι η ανάκτηση πληροφοριών, προηγμένα συστήματα εξερευνητικής αναζήτησης, 
        έξυπνη διαχείρισης πληροφορίας, σχεδίαση & αξιολόγηση διαδραστικών συστημάτων.
    </p>
    <img src="../images/default_user.png" alt="user" class="userPic"/>
    <div class="emailtag">Email:</div>
    <div class="actualemail">Salamp@ihu.gr</div>
    <hr class="line1" />
    <div class="urltag">Url:</div>
    <a href="https://www.iee.ihu.gr/staff/salampasis-michalis/" class="actualURLtag">salampasis-michalis</a>
    <hr class="line2" />
    <div class="rolosatg">Ρόλος:</div>
    <div class="actualrolostag">Καθηγήτης</div>
    <hr class="line3" />
    <div class="mathimatag">Μαθήματα:</div>
    <div class="actualmathima">Mathematics</div>
    <hr class="line4" />

</body>
</html>

