.container {
    position: absolute;
    width: 400px;
    left: 5px;
    top: 80px;
    background-color: aliceblue;
    border: solid;
    border-radius: 11px;
}

.filters ul li {
    margin-bottom: 5px;
    list-style-type: none;
    position:relative;
}

.filters ul li:before{
    content:"";
    position:absolute;
    top:8px;
    left:-12px;
    width:5px;
    height:5px;
    border-radius:50%;
}

.filters .toggle{
    margin-top:15px;
    font-weight:700;
    color:red;
    cursor:pointer;
    font-size:15px;
}

.filters ul.active{
    height:auto;
}

.filters .toggle.active .fas{
    transform: rotate();
}


