.container {
    position: absolute;
    width: 400px;
    left: 5px;
    top: 80px;
    padding-bottom: 300px;
    margin-bottom: 500px;
    background-color: aliceblue;
    border: solid;
    border-radius: 11px;
}

.filters ul li {
    margin-bottom: 5px;
    list-style-type: none;
    position:relative;
}

.filters ul li:before{
    content:"";
    position:absolute;
    top:8px;
    left:-12px;
    width:5px;
    height:5px;
    border-radius:50%;
}

.filters .toggle{
    margin-top:15px;
    font-weight:700;
    color:red;
    cursor:pointer;
    font-size:15px;
}

.filters ul.active{
    height:auto;
}

.filters .toggle.active .fas{
    transform: rotate();
}

.grid-container {
    position: absolute;
    left: 440px;
    top: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin: 8px;
    width: 200px;
    height: 200px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

