@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

 /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
    */

body {
    font-family: "Poppins", sans-serif;
    min-height: 60vh;
    width: 90%;
    background: #EEECEB;
}

footer {
    z-index: -5;
    position: fixed;
    background: rgb(158, 199, 202);
    /*background: rgb(158, 199, 202);*/
    width: 100%;
    bottom: -8%;
    /*bottom: -3%;*/
    left: 0;
    border-top: solid;
}

    footer .content .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    footer .content {
        max-width: 1250px;
        margin: auto;
        padding: 20px 40px 40px 40px;
    }

        footer .content .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
        }

.content .top .logo-details {
    color: #fff;
    font-size: 30px;
}

.content .top .media-icons {
    display: flex;
}

    .content .top .media-icons a {
        height: 40px;
        width: 40px;
        margin: 0 8px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 17px;
        text-decoration: none;
        transition: all 0.4s ease;
    }

.top .media-icons a:nth-child(1) {
    background: #4267B2;
}

    .top .media-icons a:nth-child(1):hover {
        color: #4267B2;
        background: #fff;
    }

.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

    .top .media-icons a:nth-child(2):hover {
        color: #1DA1F2;
        background: #fff;
    }

.top .media-icons a:nth-child(3) {
    background: #E1306C;
}

    .top .media-icons a:nth-child(3):hover {
        color: #E1306C;
        background: #fff;
    }

.top .media-icons a:nth-child(4) {
    background: #0077B5;
}

    .top .media-icons a:nth-child(4):hover {
        color: #0077B5;
        background: #fff;
    }
.top .media-icons a:nth-child(5) {
    background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
        color: #FF0000;
        background: #fff;
}

