.infoPage{
    position: absolute;
    height:140%;
}

.className {
    position: relative;
    top: 100px;
    left: 21%;
    font-family: sans-serif;
    font-size: 36px;
    color: #000000;
}
.sendmail {
    position: relative;
    left: 80%;
    top: 40px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #625FF5;
    cursor: pointer;
}
#tmimaTag {
    position: relative;
    top: 100px;
    left: 21%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    letter-spacing: -0.006em;
    color: #000000;
}
.actualTmima {
    position: relative;
    left: 21%;
    top: 80px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    letter-spacing: -0.006em;
    color: #000000;
}
#perifragiTag {
    position: relative;
    left: 21%;
    top: 90px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    display: flex;
    align-items: flex-end;
    letter-spacing: -0.006em;
}
.actualPerigrafi {
    position: relative;
    width: 70%;
    height: 100px;
    left: 21%;
    top: 100px;
    font-family: sans-serif;
    font-size: 20px;
}
.rowKathigites {
    position: relative;
    display: flex;
    left: 21%;
    top: 105px;
}
.kathigitesTag {
    position: relative;
    font-family: sans-serif;
    font-weight: 600;
}
.containerActualKathigites {
    position: relative;
    width: 50%;
    height: 50%;
    top: -3px;
}
.actualKathigites {
    position: relative;
    cursor: pointer;
    font-family: sans-serif;
    color: #687EF4;
    text-align: left;
}
.line1 {
    position: relative;
    width: 60%;
    top: 105px;
    border-bottom: 1px solid;
}
.rowEvents {
    position: relative;
    display: flex;
    left: 21%;
    top: 105px;
}
.paleoteraEvents {
    position: relative;
    font-family: sans-serif;
    font-weight: 600;
}
.actualpaleoteraEvents {
    position: relative;
    font-family: sans-serif;
    font-weight: 400;
    color: #687EF4;
    cursor: pointer;
}

.line2 {
    position: relative;
    width: 60%;
    top: 105px;
    border-bottom: 1px solid;
}
.rowNowEvents {
    position: relative;
    display: flex;
    left: 21%;
    top: 105px;
}
.neoteraEvents {
    position: relative;
    font-family: sans-serif;
    font-weight: 600;
}
.actualneoteraEvents {
    position: relative;
    font-family: sans-serif;
    font-weight: 400;
    color: #687EF4;
    cursor: pointer;
}

.line3 {
    position: relative;
    width: 60%;
    top: 105px;
    border-bottom: 1px solid;
}

.rowTitle {
    position: relative;
    display: flex;
    left: 21%;
    top: 105px;
}

.titlosEng {
    position: relative;
    font-family: sans-serif;
    font-weight: 600;
}

.actualEngTitlos {
    position: relative;
    top: -4px;
}

.line4 {
    position: relative;
    width: 60%;
    top: 105px;
    border-bottom: 1px solid;
}

.rowDyskolia {
    position: relative;
    display: flex;
    left: 21%;
    top: 105px;
}

.dyskolia {
    position: relative;
    font-family: sans-serif;
    font-weight: 600;
}

.actualDyskolia {
    position: relative;
    font-family: sans-serif;
}

.line5 {
    position: relative;
    width: 60%;
    top: 105px;
    border-bottom: 1px solid;
}

.rowVathmologia {
    position: relative;
    display: flex;
    left: 21%;
    top: 105px;
}

.vathmologia {
    position: relative;
    font-family: sans-serif;
    font-weight: 600;
}

.actualVathmologia {
    position: relative;
    font-family: sans-serif;
    font-weight: 400;
}

.line6 {
    position: relative;
    width: 60%;
    top: 105px;
    border-bottom: 1px solid;
}

.rowXaraktrismos {
    position: relative;
    display: flex;
    left: 21%;
    top: 105px;
}

.xaraktrismos {
    position: relative;
    font-family: sans-serif;
    font-weight: 600;
}

.Actualxaraktrismos {
    position: relative;
    font-family: sans-serif;
    font-weight: 400;
}

.line7 {
    position: relative;
    width: 60%;
    top: 105px;
    border-bottom: 1px solid;
}

.GkriKouti {
    position: relative;
    border-radius: 10%;
    width: 300px;
    height: 170px;
    left: 21%;
    top: 620px;
    background: #F3F2F2;
    box-shadow: 8px 8px 5px lightgrey;
}

    .GkriKouti:hover {
        border-radius: 10%;
        background: #F3F2F2;
        transform: scale(1.1);
        transition: transform 0.5s ease;
    }

.titlosStoKouti {
    position: absolute;
    top: 5%;
    left: 20%;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.numberRat {
    position: absolute;
    left: 10%;
    top: 40%;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 50px;
    display: flex;
    align-items: center;
    letter-spacing: -0.006em;
    color: #ED4915;
}

.starRat {
    background-image: url('../images/asteri5.png');
    position: relative;
    width: 74%;
    height: 42px;
    left: 20%;
    top: 40%;
}

.kitrinoKouti {
    position: absolute;
    width: 30%;
    height: 25%;
    left: 0%;
    top: 75%;
    background: #F4A915;
    border-radius: 10px;
}

.timi {
    position: absolute;
    left: 5%;
    top: 80%;
    font-family: sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 800;
    color: #000000;
}

.buttonsRow {
    position: relative;
    display: flex;
    top: 125px;
    left: 20%;
}

.anaskopisi {
    width: 130px;
    height: 30px;
    background-color: rgb(67,153,62);
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgrey;
}

    .anaskopisi:hover {
        background-color: darkgreen;
    }

.simmetoxi {
    width: 130px;
    height: 30px;
    background-color: rgb(67,153,62);
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgrey;
}

    .simmetoxi:hover {
        background-color: darkgreen;
    }


/*



/*.anaskopisi:hover {
        position: absolute;
        width: 130.77px;
        height: 40px;
        left: 1000px;
        top: 850px;
        background-color: black;
        color: white;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        border-radius: 100px;
        padding: 10px 20px;
        box-shadow: none;
        border-color: white;
        transition: border-color 0.3s ease-in-out;
} */