
.className {
    position: absolute;
    
    left: 21%;
    top: 8%;
    font-family: sans-serif;    
    font-size: 36px;
    color: #000000;
}
.classNumber {
    position: absolute;
   
    left: 31%;
    top: 8%;
    font-family: sans-serif;
    font-size: 36px;
    color: #000000;
}
.sendmail {
    position: absolute;
    left: 80%;
    top: 10%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #625FF5;
    cursor: pointer;
}
#tmimaTag {
    position: absolute;
    left: 21%;
    top: 13%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    letter-spacing: -0.006em;
    color: #000000;
}
.actualTmima {
    position: absolute;
    left: 21%;
    top: 14%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    letter-spacing: -0.006em;
    color: #000000;
}
#perifragiTag {
    position: absolute;
    left: 21%;
    top: 18%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    display: flex;
    align-items: flex-end;
    letter-spacing: -0.006em;
}
.actualPerigrafi {
    position: absolute;
    width: 50%;
    left: 21%;
    top: 20%;
    font-family: sans-serif;
    font-size: 20px;
}
.kathigitesTag {
    position: absolute;
    left: 21%;
    top: 27%;
    font-family: sans-serif;
    font-weight: 600;
}
.containerActualKathigites {
    position: relative;
    width: 50%;
    height: 50%;
    left: 19%;
    top: 325px;
}
.actualKathigites {
    position: relative;
    width: 50%;
    height: 50%;
    left: 19%;
    top: 13px;
    font-family: sans-serif;
    color: #687EF4;
    text-align: left;
}
.line1 {
    position: absolute;
    width: 50%;
    left: 21%;
    top: 29%;
    border-bottom: 1px solid;
}
.paleoteraEvents {
    position: absolute;
    
    left: 21%;
    top: 30%;
    font-family: sans-serif;
    font-weight: 600;

}
.actualpaleoteraEvents {
    position: absolute;
    left: 27%;
    top: 30%;
    font-family: sans-serif;
    font-weight: 400;
    color: #687EF4;
    cursor: pointer;
}

.line2 {
    position: absolute;
    width: 50%;
    left: 21%;
    top: 32%;
    border-bottom: 1px solid;
}

.neoteraEvents {
    position: absolute;
    left: 21%;
    top: 33%;
    font-family: sans-serif;
    font-weight: 600;
}
.actualneoteraEvents {
    position: absolute;
    left: 27%;
    top: 33%;
    font-family: sans-serif;
    font-weight: 400;
    color: #687EF4;
    cursor: pointer;
}

.line3 {
    position: absolute;
    left: 21%;
    width: 50%;
    top: 35%;
    border-bottom: 1px solid;
}

.titlosEng {
    position: absolute;   
    left: 21%;
    top: 36%;
    font-family: sans-serif;
    font-weight: 600;
}

.actualEngTitlos {
    position: absolute;
    left: 27%;
    top: 36%;
}

.line4 {
    position: absolute;
    left: 21%;
    width: 50%;
    top: 38%;
    border-bottom: 1px solid;
}

.dyskolia {
    position: absolute;
    left: 21%;
    top: 39%;
    font-family: sans-serif;
    font-weight: 600;
}

.actualDyskolia {
    position: absolute;
    font-family: sans-serif;
    left: 27%;
    top: 39%;
}

.line5 {
    position: absolute;
    left: 21%;
    width: 50%;
    top: 41%;
    border-bottom: 1px solid;
}

.vathmologia {
    position: absolute;
    left: 21%;
    top: 42%;
    font-family: sans-serif;
    font-weight: 600;
}

.actualVathmologia {
    position: absolute;
    left: 27%;
    top: 42%;
    font-family: sans-serif;
    font-weight: 400;
}

.line6 {
    position: absolute;
    left: 21%;
    width: 50%;
    top: 44%;
    border-bottom: 1px solid;
}

.xaraktrismos {
    position: absolute;
    left: 21%;
    top: 45%;
    font-family: sans-serif;
    font-weight: 600;
}

.Actualxaraktrismos {
    position: absolute;
    left: 27%;
    top: 45%;
    font-family: sans-serif;
    font-weight: 400;
}

.line7 {
    position: absolute;
    left: 21%;
    width: 50%;
    top: 47%;
    border-bottom: 1px solid;
}

.GkriKouti {
    position: absolute;
    border-radius: 10%;
    width: 12%;
    height: 15%;
    left: 21%;
    top: 55%;
    background: #F3F2F2;
    box-shadow: 8px 8px 5px lightgrey;
}

.GkriKouti:hover {
    position: absolute;
    border-radius: 10%;
    width: 12%;
    height: 15%;
    left: 21%;
    top: 55%;
    background: #F3F2F2;
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.titlosStoKouti {
    position: absolute;
    top: 5%;
    left: 20%;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 26px;     
}

.numberRat {
    position: absolute;

    left: 10%;
    top: 40%;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 50px;
    display: flex;
    align-items: center;
    letter-spacing: -0.006em;
    color: #ED4915;
}

.starRat {
    background-image: url('../images/asteri5.png');
    position: absolute;
    width: 74%;
    height: 42px;
    left: 20%;
    top: 40%;
}

.kitrinoKouti {
    position: absolute;
    width: 30%;
    height: 25%;
    left: 0%;
    top: 75%;
    background: #F4A915;
    border-radius: 10px;
}

.timi {
    position: absolute;
    left: 5%;
    top: 80%;
    font-family: sans-serif;
    font-style: normal;
    font-size:20px;
    font-weight: 800;
    color: #000000;
}

.anaskopisi {
    position: absolute;
    width: 5%;
    height: 3%;
    left: 35%;
    top: 75%;
    background-color: rgb(67,153,62);
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgrey;
}

    .anaskopisi:hover {
        position: absolute;
        width: 5%;
        height: 3%;
        left: 35%;
        top: 75%;
        background-color: darkgreen;
        color: white;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px lightgrey;
    }

.simmetoxi {
    position: absolute;
    width: 5%;
    height: 3%;
    left: 50%;
    top: 75%;
    background-color: rgb(67,153,62);
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgrey;
}

    .simmetoxi:hover {
        position: absolute;
        width: 5%;
        height: 3%;
        left: 50%;
        top: 75%;
        background-color: darkgreen;
        color: white;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px lightgrey;
    }


/*



/*.anaskopisi:hover {
        position: absolute;
        width: 130.77px;
        height: 40px;
        left: 1000px;
        top: 850px;
        background-color: black;
        color: white;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        border-radius: 100px;
        padding: 10px 20px;
        box-shadow: none;
        border-color: white;
        transition: border-color 0.3s ease-in-out;
} */