body {
    position: relative;
    background: #F4FCFF;
}

.container{
    position:absolute;
    left:40%;
}
.Title {
    position: relative;
    width: 50%;
    top: 100px;
    left:160px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 16px;
    color: #6B4B8A;
}

.User {
    position: relative;
    width: 216px;
    height: 38px;
    top: 250px;
    left:-100px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #000000;
}
input::placeholder {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 17px;
    opacity: 0.5;
    line-height: 18px;
    color: #000000;
}
input[type='password'] {

    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #000000;
}
input[type='text'] {

    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #000000;
}
.Pass {
    position: relative;
    width: 216px;
    height: 38px;
    top: 350px;
    left: -100px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #000000;
}

.UT {
    box-sizing: border-box;
    position: relative;
    width: 735px;
    height: 64px;
    top: 210px;
    left: -100px;
    background: #FFF5F5;
    border: 2px solid #000000;
    border-radius: 14px;
}
.PT {
    box-sizing: border-box;
    position: relative;
    width: 735px;
    height: 68px;
    top: 290px;
    left: -100px;
    background: #FFF5F5;
    border: 2px solid #000000;
    border-radius: 14px;
}

.Log {
    position: relative;
    width: 193px;
    height: 48px;
    top: 400px;
    background: #815ba5;
    border-radius: 56px;
    font-weight: bold;
    font-size: large;
}
    .Log:hover {
        position: relative;
        width: 193px;
        height: 48px;
        top: 402px;
        background: #986ebf;
        border-radius: 56px;
        font-weight: bold;
        font-size: large;
    }

.Reg {
    position: relative;
    width: 196px;
    height: 48px;
    top: 400px;
    left:100px;
    background: #815ba5;
    border-radius: 56px;
    font-size: large;
    font-weight: bold;
}

    .Reg:hover {
        position: relative;
        width: 196px;
        height: 48px;
        top: 402px;
        background: #986ebf;
        border-radius: 56px;
        font-size: large;
        font-weight: bold;
    }

@media screen and (max-width:720px) {
    .container {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .container {
        width: 12.5%;
    }
}

@media screen and (max-width: 290px) {
    .container {
        width: 12.2%;
    }
}

