body {
    position: relative;
    background: #F4FCFF;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6B4B8A;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border: 2px solid #000000;
    border-radius: 0px 20px 20px 0px;
}

.sidebar a {
    padding: 18px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:aliceblue;
    display: block;
    transition: 0.3s;
    top:10px;
    text-align:left;
}

.sidebar a:hover {
    padding-right:40px;
}

.sidebar div{
    padding-top:290%;
}

.sidebar header {
    position: absolute;
    top: 5px;
    left:30px;
    font-size: 36px;
    margin-left: 50px;
    color:aliceblue;
}

.sidebar .closebtn {
    position: absolute;
    top: -15px;
    left: -40px;
    font-size: 36px;
    margin-left: 20px;
    text-align:center;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.main {
    transition: margin-left .5s;
    padding: 20px;
}

.main .openbtn{
    
}