
.kathigName {
    position: absolute;
    left: 21%;
    top: 9%;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #000000;
}

.userPic {

    position: absolute;
    width: 4%;
    height: 7%;
    left: 70%;
    top: 8%;
}

#tmimaTag {
    position: absolute;
    left: 21%;
    top: 14%;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.actualTmima {
    position: absolute;
    left: 21%;
    top: 15%;
    font-family: sans-serif;
    font-size: 20px;
    color: #000000;
}

#perifragiTag {
    position: absolute;
    left: 21%;
    top: 18%;
    font-family: sans-serif; 
    font-weight: 600;
    font-size: 20px;
}

.actualPerigrafi {
    position: absolute;
    left: 21%;
    top: 21%;
    font-family: sans-serif;
    width: 50%;
}

.emailtag {
    position: absolute;
    left: 21%;
    top: 27%;
    font-family: sans-serif;
    font-weight: 600;
    color: #000000;
}

.actualemail {
    position: absolute;
    left: 27%;
    top: 27%;
    font-family: sans-serif;   
    color: #687EF4;
    cursor: pointer;
}

.line1 {
    position: absolute;
    width: 50%;
    left: 21%;
    top: 29%;
    border-bottom: 1px solid;
}

.urltag {
    position: absolute;
    left: 21%;
    top: 30%;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.actualURLtag {
    position: absolute;
    left: 27%;
    top: 30%;
    font-family: sans-serif;
    color: #687EF4;
}

.line2 {
    position: absolute;
    width: 50%;
    left: 21%;
    top: 32%;
    border-bottom: 1px solid;
}

.rolosatg {
    position: absolute;
    left: 21%;
    top: 33%;
    font-family: sans-serif;
    font-weight: 600;
}

.actualrolostag {
    position: absolute;
    left: 27%;
    top: 33%;
    font-family: sans-serif;
}

.line3 {
    position: absolute;
    width: 50%;
    left: 21%;
    top: 35%;
    border-bottom: 1px solid;
}


.mathimatag {
    position: absolute;
    left: 21%;
    top: 36%;
    font-family: sans-serif;
    font-weight: 600;
}

.actualmathima {
    position: absolute;
    left: 27%;
    top: 36%;
    font-family: sans-serif;
}

.line4 {
    position: absolute;
    width: 50%;
    left: 21%;
    top: 38%;
    border-bottom: 1px solid;
}
