@model ADOPSE_2023.Models.Module

<div class="grid-item" onclick="location.href='/Info/InfoTest'">
    <div class="grid-item-title">@Model.moduleName</div>
    <div class="grid-item-description">@Model.moduleDesc</div>
    <div class="grid-item-teacher">Σαλαμπάσης</div>
    <div class="grid-item-stars" style="background-image: url('../images/asteri1.png')"></div>
    <div class="grid-item-price">FREE</div>
</div>