@page "/HomePage"
@model ADOPSE_2023.Models.UserController;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    <iframe class="my_calendar" src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%239E69AF&ctz=Europe%2FAthens&showPrint=0&showTitle=0&mode=WEEK&src=bWFya2xlb2xlb0BnbWFpbC5jb20&src=NDk3NjU2ZmYyODk4MGY4MjA4MDdiM2ZmZGM3YzdjNWZiNDQzNDczNTk0MTZlMDExY2UxMDljN2ExZjA4ZmQyMkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4tZ2IuZ3JlZWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=ZWwuZ3JlZWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%23E67C73&color=%2333B679&color=%230B8043&color=%230B8043" style="border-width:0" width="100%" height="75%" frameborder="0" scrolling="no"></iframe>
    </body>

    <style>
        .my_calendar{
            position:absolute;
            top:9%;
            left:0%;

        }
    </style>
</html>