@page "";
@model ADOPSE_2023.Models.UserController;

@{
    //ViewData["Title"] = "e";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

    <!-- to do code-->
</body>
</html>


