@page ""
@model ADOPSE_2023.Models.UserController


<head>
    <title>Login Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>
<body>

    <div class="Title">Login</div>
    <div class="User">Username:</div>
    <div class="Pass">Password:</div>

    <div>
        <input type="text" class="UT" placeholder="Type your username" />
        <i class='bx bx-user'></i>
        <input type="password" class="PT" placeholder="Type your password" />
    </div>

    <input type="button" value="Login" class="Log" onclick="location.href='/Home/HomePage'" />
    <input type="button" value="Register" class="Reg" onclick="location.href='/Home/RegisterPage'" />


</body>